h1, p {
  font-family: Lato;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
#root {
  background-color: transparent;
  color: #4689C8;
  font-weight: 600;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.appHeader {
  text-align: center;
}

.appHeader h2 {
  margin-bottom: -10px;
}

a:visited {
  color: #4689C8
}

main {
  width: 90vw;
  margin: 0 auto;
}

section.formsection {
  width: 61%;
}

.checkboxes {
  justify-content: space-around;
  margin: 0 auto;
}


@media (max-width: 1199px) {
  form {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  form div {
    justify-content: center;
  }

  .checkboxes {
    margin: 0 auto;
  }

  main {
    width: 90%;
    margin: 0 auto;
  }

  section.formsection {
    width: 100%;
  }
}

@media only screen and (max-width: 499) {
  .checkboxes {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }
}