h1, p {
  font-family: Lato;
}

.formsection h2 {
  color: #4689C8;
  text-align: center;
  margin: 0;
}
.formsection h5 {
    margin-top: 0px;
    color: #4689C8;
    text-align: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
#root {
  background-color: transparent;
  color: #4689C8;
  font-weight: 600;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.appHeader {
  text-align: center;
}

.appHeader h2 {
  margin-bottom: -10px;
}

a:visited {
  color: #4689C8
}

main {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 76vh;
}

section.formsection {
  width: 61%;
}

section.aboutsection {
  width: 30%;
}

.checkboxes {
  justify-content: space-around;
  margin: 0 auto;
}

.formbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width: 1199px) {
  header h5 {
    margin-top: 5px;
  }
  form {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  form div {
    justify-content: center;
  }

  .checkboxes {
    margin: 0 auto;
  }

  main {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  section.formsection, section.aboutsection {
    width: 100%;
  }

  .formbuttons {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 499) {
  .checkboxes {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }
}




footer {
  height: auto;
  background-color: #3f51b5;
  margin: auto;
  text-align: center;
}